.content-container{


    .header{
        .title{}
        button{}
    }

    .project-details{
        p{}
    }

    hr{
        border: none;
        border-top: 1px solid #ccc;
        margin: 20px 0;
    }

    .tasks-container {

        .add-box{
            h3{}
            .task-input{
                input{}
                button{}
            }
            p{}
        }
    }
}