.content-container{
    width: 100%;
    .content-box {
        width: 100%;
        padding: 10px;
        .header-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .header {
                display: flex;
                align-items: flex-start;
                margin-left: 50px;
            }
            .btn {
                display: flex;
                align-items: flex-end;
                margin-right: 50px;
            }
        }
    
        .project-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 50px;
            p{}
        }
    
        hr{
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
    
        .tasks-container {
            
            .add-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 50px;
                h3{}
                .task-input{
                    display: flex;
                    input[type="text"] {
                        border: 1px solid #333;
                        border-radius: 4px;
                        font-size: 16px;
                        box-sizing: border-box;
                        background-color: #fff;
                        color: #000;
                    }
                    button{
                        margin-left: 15px;
                        border: 1px solid #333;
                        border-radius: 4px;
                        background-color: #fff;
                        color: #333;
                        cursor: pointer;
                        transition: transform 0.3s;
                    }
                    button:hover{
                        transform: scale(0.9)
                    }
                }
                p{}
            }
        }
    }
}